<div class="container">
  <div class="row">
    <div class="card m-3 p-1 col-10">
      <h5 class="card-header">
        {{ displayTicket.subjectLine }}
      </h5>
      <div class="card-body">
        <h5 class="card-title">{{ displayTicket.userName }}</h5>
        <p class="card-text">
          Date Opened: {{ displayTicket.dateOpened | date: "MM/dd/yyyy" }}
        </p>
        <p class="card-text">{{ displayTicket.questionDetails }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card m-3 p-1 col-10" *ngIf="displayTicket.status == 'Closed'">
      <div>
        <h5 class="card-header">Resolved By: {{ displayTicket.resolvedBy }}</h5>
        <div class="card-body">
          <h5 class="card-title">Resolution:</h5>
          <p class="card-text">{{ displayTicket.resolution }}</p>
          <p class="card-text">
            Date Closed: {{ displayTicket.dateClosed | date: "MM/dd/yyyy" }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <button (click)="addToFavorites()">Add to Favorites</button>

  <div *ngIf="displayTicket.status == 'Open'">
    <form #resolutionForm="ngForm" (ngSubmit)="addResolution(resolutionForm)">
      Resolution:<textarea
        name="resolution"
        rows="5"
        cols="40"
        ngModel
      ></textarea>
      <br /><br />
      Resolved By:<input type="text" name="resolvedBy" ngModel />
      <button>Submit Resolution</button>
    </form>
  </div>
</div>
