#card{
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.75);
}

@media (min-width: 300px){
  
  textarea{
    width:250px;
    height: 100px;
    padding: 10px;
  border: 2px solid blue;
  border-radius: 4px;

  }

}

@media (min-width: 768px){
textarea{
  width:250px;
  height: 100px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 4px;
}
}



#textbox{
    padding: 10px;
  border: 2px solid blue;
  border-radius: 4px;
}

