<h2>
  Subject: {{ displayTicket.subjectLine }} - User: {{ displayTicket.userName }}
</h2>
<p>{{ displayTicket.questionDetails }}</p>
<p>Date Opened: {{ displayTicket.dateOpened | date: "MM/dd/yyyy" }}</p>
<p>Current Status: {{ displayTicket.status }}</p>

<div *ngIf="displayTicket.status == 'Closed'">
  <p>Resolution: {{ displayTicket.resolution }}</p>
  <p>Date Closed: {{ displayTicket.dateClosed | date: "MM/dd/yyyy" }}</p>
  <p>Resolved By: {{ displayTicket.resolvedBy }}</p>
</div>

<button (click)="addToFavorites()">Add to Favorites</button>

<div *ngIf="displayTicket.status == 'Open'">
  <form #resolutionForm="ngForm" (ngSubmit)="addResolution(resolutionForm)">
    Resolution:<textarea
      name="resolution"
      rows="5"
      cols="40"
      ngModel
    ></textarea>
    <br /><br />
    Resolved By:<input type="text" name="resolvedBy" ngModel />
    <button>Submit Resolution</button>
  </form>
</div>
