/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#card{
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.75);
}

body{
  background-color: rgb(241, 241, 241);
}